.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App * {
  font-family: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hideme {
  display: none;
}

.react-calendar-timeline .rct-sidebar-header {
  background: #3e3d3d;
}

.react-calendar-timeline .rct-header .rct-label-group {
  background: #3e3d3d;;
}

.custom-popper {
  z-index: 100;
}

.picker-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picker {
  display: flex;
  align-items: center;
  width: 20rem;
  padding: .5rem;
}
